.document {
	flex-grow: 1;
	max-width: 100%;

	flex-direction: column;
	display: flex;
	overflow: hidden;
	align-items: stretch;
}

.document .content {
	flex-grow: 1;
	overflow: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Necessary to ensure the sunken border remains on screen and doesn't get
   cropped or scrolled. */
.content-container {
	overflow: hidden;
}

/* Give it a sunken border */
.content-container {
	/* Only give enough padding so the content doesn't overwrite the sunken border */
	padding: 2px;
	margin: 1px;
	box-shadow:
		inset -1px -1px var(--button-highlight),
		inset 1px 1px var(--button-shadow),
		inset -2px -2px var(--button-face),
		inset 2px 2px var(--window-frame)
	;
}
