.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.fileList {
	margin: 1em;
}

table tr .hover {
	visibility: hidden;
}

table tr:hover .hover {
	visibility: visible;
}

.action {
	margin-left: 2em;
	cursor: pointer;
}

table input {
	height: 90%;
}

.game {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	max-width: 100%;
}

/* Tree view */
.game .itemList {
	min-width: 20%;
	width: 20%;
	background-color: white;
}
.game .itemList .content {
	height: 100%;
	overflow-y: auto;

	padding: 6px;
	background-color: white;
}

.game .itemList .so-tree-content {
	text-indent: -3ex;
	padding-left: 3ex;
	cursor: pointer;
}
.game .itemList .so-tree-content:hover {
	color: #4040FF;
}

.game .itemList .so-tree-content .disabled {
	color: #ccc;
	cursor: not-allowed;
}

/* Dialogs */
h3 {
	font-weight: bold;
	font-size: 110%;
}

.toolbarItemSaving {
	margin-left: 1em;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.toolbarItemSaving .so-spin-ring {
	margin-left: 4px;
	margin-right: 6px;
}
