:root {
	--form-item-label-align: right;
	--table-selected-row-bg: #c0ffb0;
}

.so-form-control {
	width: 20em;
}

.so-upload-view-value {
	padding-left: 0;
}

.so-card-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.openDialog {
	display: flex;
	justify-content: center;
	padding-top: 15%;
}

div.postH3 {
	margin-left: 1em;
}

/* Make the form labels appear above instead of to the left. */
.openGame .so-form-item {
	flex-direction: column;
}

div.postH3 .so-form-item .so-form-label {
	font-weight: bold;
	font-size: 90%;
	text-align: left;
	width: 100%;
}

div.postH3 .so-form-item .so-form-control {
	width: 100%;
}

.so-table tr td {
	cursor: pointer;
}

/* Hide the column header in the mod/game list */
.so-table-head {
	display: none;
}

.modItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modItem .modActions {
	visibility: hidden;
	flex: 1;
	text-align: right;
}

.modItem:hover .modActions {
	visibility: visible;
}

.modActions .deleteAction:hover {
	color: red;
}
