.modInfoItem {
	margin-left: 4px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.modInfoItem .so-input {
	/* More closely line up with the text it's replacing */
	margin-left: -3px;
}

.modInfoItem input {
	padding: 0px;
}
