.tip {
	display: flex;
	flex-direction: row;
	padding: 1.5ex;
	padding-right: 2ex;
	border-radius: 8px;
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.tip .icon {
	font-size: 12pt;
	min-width: 1.2em;
	margin-top: 0.5ex;
}

/* Pad out any dot points a little more */
.tip li {
	margin-bottom: 0.5ex;
}
