/* Make the main document pane take up all available space */
.document .map {
	flex-grow: 1;
	height: 100%; /* Limit to screen height so we get scroll bars */
	display: flex;
	flex-direction: column;
}

/* Checkerbox background for transparent images
 * From: https://stackoverflow.com/a/65887831/308237
 */
:root {
	--checker-color-1: #888;
	--checker-color-2: #bbb;
	--checker-size: 8px;
	--checker-gradient: linear-gradient(45deg, var(--checker-color-1) 25%, transparent 25%, transparent 75%, var(--checker-color-1) 75%);
}

.content canvas {
	background-color: var(--checker-color-2);
	background-image: var(--checker-gradient), var(--checker-gradient);
	background-position: 0 0, var(--checker-size) var(--checker-size);
	background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);
}
/* End checkerbox */

/* Keep images pixellated */
.content canvas {
	image-rendering: pixelated;   /* Chrome */
	image-rendering: crisp-edges; /* Firefox */
}

.layer-list th.colID,
.layer-list td.colID {
	width: 2em;
}
