/* Make the main document pane take up all available space */
.document .attributes {
	flex-grow: 1;
	height: 100%; /* Limit to screen height so we get scroll bars */
	display: flex;
}

.attributes input {
	font-family: 'Courier New', fixed;
	padding: 2px;
	margin: 0;
	height: 90%;
	box-shadow:
		inset -1px -1px var(--button-highlight),
		inset 1px 1px var(--button-shadow),
		inset -2px -2px var(--button-face),
		inset 2px 2px var(--window-frame)
	;
}

.content .attributes th.colID,
.content .attributes td.colID {
	min-width: 10em;
}

.content .attributes th.colValue,
.content .attributes td.colValue {
	width: 40%;
}

.content .attributes th.colType,
.content .attributes td.colType {
	min-width: 5em;
}
.content .attributes td.colValue {
	margin: 0;
}

.content .attributes td.colDesc {
	word-break: normal;
	overflow-x: hidden;
}
