@import '~shineout/dist/theme.default.css';

:root {
	--modal-header-bg: #eee;
	--modal-footer-bg: #eee;

	--surface: #D4D0C8;
	--button-highlight: #ffffff;
	--button-face: #dfdfdf;
	--button-shadow: #808080;
	--window-frame: #0a0a0a;

	--border-raised-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
	--border-raised-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
	--border-sunken-outer: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
	--border-sunken-inner: inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);
	--border-single-raised:
		inset -1px -1px 0 0 var(--button-shadow),
		inset 1px 1px 0 0 var(--button-highlight)
	;
	--border-single-sunken:
		inset -1px -1px 0 0 var(--button-highlight),
		inset 1px 1px 0 0 var(--button-shadow)
	;
}

body, #root {
	height: 100vh;
	background-color: var(--surface);
}

/* Normal icons next to button text */
.icon {
	margin-right: 6px;
	margin-bottom: -1px;
}

/* Large icons and the text next to it in modal popups */
.largeIconText .icon {
	font-size: 200%;
	vertical-align: middle;
	margin-right: 1ex;
}
.largeIconText span {
	vertical-align: middle;
}

.so-card-header {
	background-color: #DDDDDD;
	font-weight: bold;
}

.so-form p {
	margin-bottom: 1.5em;
}

/* Toolbars */

.toolbar {
	display: flex;
	align-items: center;
	background: var(--surface);
	line-height: 1;
	padding: 2px;
	box-shadow: var(--border-single-raised);
}

.toolbar button.hold,
.toolbar button {
	box-sizing: border-box;
	border: none;
	background: var(--surface);
	box-shadow: none;
	padding: 0 4px;
	width: 28px;
	height: 28px;
}

.toolbar button:not(:disabled):hover {
	box-shadow: var(--border-single-raised);
}

.toolbar button:not(:disabled):active {
	box-shadow: var(--border-single-sunken);
	padding: 2px 0 0 2px;
}

.toolbar button.hold {
	box-shadow: var(--border-single-sunken);
	padding: 1px 0 0 1px;
	background: var(--button-highlight);
}

.toolbar button.hold:not(:disabled):hover {
	box-shadow:
		inset -1px -1px 0 0 var(--surface),
		inset 1px 1px 0 0 var(--surface)
	;
}

.toolbar button.hold:not(:disabled):active {
	background: var(--button-highlight);
}

.toolbar button:disabled {
	cursor: not-allowed;
}

.toolbar button svg {
	width: 16px;
	height: 16px;
}

/* Text boxes in toolbars */
.toolbar .so-input {
	margin-left: 3px;
}
.toolbar .so-input input {
	padding: 2px;
}

/* Vertical line separating toolbar button groups */
.toolbar .separator {
	height: 100%;
	margin-left: 2px;
	margin-right: 2px;
	width: 2px;
	box-shadow: var(--border-single-sunken);
}

/* Central cards (like modals but shouldn't be closed) */
.mainCard {
	display: flex;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.mainCard .so-card {
	width: 50em;
}

/* Centre a single child element in the middle vertically and horizontally */
.middle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: '1px solid red';
}

/* Make a button look like a link */
button.link {
	border: none;
	background-color: inherit;
	color: #3CAEE6;
	cursor: pointer;
	padding: 0 !important;
}
span.flex-spacer {
	flex-grow: 1;
}
.so-modal-footer {
	/* To ensure 'cancel' links in MessageBox and other modals is left-aligned */
	display: flex;
}

/* Popup tip when renaming a mod */
.so-popover-input-tip {
	color: black;
}
.so-popover-input-tip .so-popover-arrow,
.so-popover-input-tip .so-popover-content {
	background-color: #FFFFB0;
}
